opencv-python==4.5.1.48
--extra-index-url https://artifacts.luxonis.com/artifactory/luxonis-python-snapshot-local/
open3d==0.17.0; platform_machine != "armv7l" and python_version < "3.9"
notebook
ipykernel
ipywidgets
plotly==5.15.0

